.tags {
    :global {
        .react-tagsinput {
            background-color: #141414;
            border: none;
            border-radius: 8px;
            padding: 7px 14px;
        }

        .react-tagsinput-tag {
            font-size: 14px;
            background-color: #1c1c1c;
            color: #777;
            border: none;
        }

        .react-tagsinput-tag {
            a::before {
                font-size: 18px;
            }
        }

        .react-tagsinput-input {
            color: #777;

            &::placeholder {
                color: #777;
            }
        }
    }
}