* {
  box-sizing: border-box;
}
.product-wrapper {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  .product-main {
    border-radius: 8px;

    width: 700px;
    padding: 20px;

    .top-side {
      //width: 100%;

    
      .option-side {
        height: 420px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .product-brand {
          height: 36px;
          width: 100%;
          color: white;
          overflow: hidden;
          p {
            font-weight: 600;
            font-size: 18px;
            line-height: 36px;
          }
        }

        .product-describe {
          height: 84px;
          //overflow: hidden;
          overflow: hidden;
          text-overflow: ellipsis;
          p {
            color: white;
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;
          }
        }

        .producr-price {
          height: 36px;

          font-weight: 700;
          font-size: 24px;
          line-height: 36px;
          color: #37a486;
        }

        .product-options {
          width: 100%;
          height: 110px;
          
          .product-option {
            height: 30px;
            color: white;
            flex-direction: row;
            display: flex;
            justify-content: center;
            align-items: center;
            select {
              width: 100%;
              border: 1px solid #c4c4c4;
              box-sizing: border-box;
              border-radius: 8px;
              background: none;
              color: white;
              background-color: #222;
              text-align: center;
              align-items: center;
            }
          }
        }
        .counter-group {
          width: 109px;
          height: 32px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .counter-button {
            cursor: pointer;
            width: 32px;
            height: 100%;
            text-align: center;
            border: 1px solid #f6f6f6;
            border-radius: 8px;
            p {
              color: white;
            }
          }
        }

        .add-to-basket-button {
          border: 1px solid black;
          width: 100%;
          height: 38px;
          background: none;
          background-color: white;
          color: black;
          border-radius: 8px;
          padding:0px;
          display: flex;
          justify-content: center;
          transition: box-shadow 0.5s ;
         
          img , p{
              margin:auto 0px;
              align-items: center;
              text-align: center  
          }
         
        }
        button.add-to-basket-button:hover{
          box-shadow: 0px 0px 10px white;
        }
      }
    }

    

    .bottom-side {
      width: 100%;
      height: 100%;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .description {
        height: 36px;
        color: white;
        margin: 0px;
        font-weight: 600;
        font-size: 18px;
        line-height: 36px;
        margin-bottom: 10px;
      } 
      .open{
        height: 100%;
      }
      .close{
        height: 63px;
      }
      .detail {
        color: white;
       
        overflow: hidden;
        text-overflow: clip;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 10px;
      }

      .read-more {
        width: 100%;
        height: 28px;
        display: flex;
        justify-content: center;
        align-items: center;
        button {
          border: 1px solid rgb(145, 143, 143);
          border-radius: 16px;
          background: none;
          color: white;
        }
      }
    }
  }
}


@media only screen and (max-width: 600px){


}