* {
  box-sizing: border-box;
  font-family: "AvenirNext";
}

.add-collection-modal-wrap {
  position: fixed;
  z-index: 11;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);

  .add-collection-body {
    height: auto;
    margin: auto;
    width: 50%;
    padding: 24px;
    background: #353536;
    box-shadow: 0px 2px 30px rgba(85, 88, 90, 0.1);
    border-radius: 24px;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;

    .collection-input {
      border: 2px solid #b3b3b3;
      border-radius: 8px;
      padding: 8px 12px;
      background-color: transparent;
      color: #fff;
      font-size: 18px;
      outline: none;
      width: 40%;
    }
    .collection-input:hover {
      border: 2px solid #8053ff;
    }
    select {
      border: 2px solid #b3b3b3;
      border-radius: 8px;
      padding: 8px 12px;
      width: 40%;
      background-color: transparent;
      color: #fff;
      font-size: 18px;
      outline: none;

      option {
        background-color: #222;
        color: #fff;
        outline: none;
      }
    }
    .add-pro-wrap {
      margin-top: 30px;

      display: flex;
      flex-wrap: wrap;

      .add-colection-item {
        margin-bottom: 15px;
        cursor: pointer;
        aspect-ratio: 1 / 1;
        border: 1px solid #b3b3b3;
        border-radius: 8px;
        p {
          margin: auto;
          color: #fff;
          font-size: 18px;
        }
      }
      .add-colection-item:hover {
        border: 1px solid white;
      }
    }
    .add-collection-btn {
      margin-top:20px;
      background: #8053ff;
      border-radius: 8px;
      width: 30%;
      color: #fff;
      font-size: 18px;
      padding:6px 12px;
    }
    .add-collection-btn:hover{
      background: #7645fb;
    }
  }
}

@media only screen and (max-width: 768px) {
  .add-collection-modal-wrap {
    padding-top: 70px;

    .add-collection-body {
      width: 90%;
      padding:24px 16px;

      .collection-input {
        padding: 8px 8px;
        font-size: 14px;
        width: 45%;
      }

      select {
        padding: 8px 12px;
        width: 45%;
        font-size: 14px;
      }
      .add-pro-wrap {
        margin-top: 30px;
        .add-colection-item {
          p {
            font-size: 14px;
          }
        }
      }
      .add-collection-btn {
        margin-top:20px;
        width: 40%;
        font-size: 14px;
        padding:6px 12px;
      }
    }
  }
}
