* {
  box-sizing: border-box;
}

@keyframes header-nav-toggle-animation {
  from {
    top: 0px;
    opacity: 0;
  }
  to {
    top: 90px;
    opacity: 1;
  }
}

.header-wrapp {
  width: 100%;
  padding: 0px 80px;
  background-color: #222222;

  & .header-body {
    width: 100%;
    padding: 8px 0px;

    a {
      margin: auto 0px;
      .header-brand {
        font-family: "AvenirNext";
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        color: #fff;
        text-align: center;
      }
    }

    & .header-item-btn-component-wraper {
      margin: auto 0px auto 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 12px 0px;
      width: 130px;
      height: 57;
      cursor: pointer;
      color: #fff;
      font-weight: 600;
      font-size: 20px;
      border-radius: 8px;
      background-color: #353536;
    }

    & .login-wrapper {
      margin-left: 15px;
      display: flex;
      align-items: center;

      & .item-cart-wraper {
        position: relative;
        margin-right: 12px;
        width: 55px;
        height: 100%;

        & .item-cart {
          margin-right: 12px;
          width: 40px;
          height: 40px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          cursor: pointer;
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          fill: red;
        }
        & .item-cart-number {
          width: 20px;
          height: 20px;
          border-radius: 25px;
          background-color: #f7c43b;
          position: absolute;
          top: 0px;
          right: 0px;
          border: 3px solid #222;
          color: #222;
          font-size: 10px;
          display: flex;
          justify-content: center;
          font-weight: 600;
          align-items: center;
        }
      }

      .header-profile {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 54px;
        height: 54px;
        border: 3px solid #8053ff;
        // border-radius: 25px;
        // height: 100%;
      }

      .header-nav {
        box-sizing: border-box;
        background-color: #444;
        position: absolute;
        top: 90px;
        width: auto;
        height: auto;
        width: 200px;
        //  border: 1px solid #444;
        border-radius: 16px;
        right: 10px;
        z-index: 90;
        animation-name: header-nav-toggle-animation;
        animation-duration: 0.5s;
        overflow: hidden;

        .header-nav-item {
          padding: 10px 0px;
          text-align: center;
          color: #fff;
          font-family: "AvenirNext";
          font-style: normal;
          font-weight: 600;
          font-size: 20px;

          cursor: pointer;

          &:hover {
            background-color: #333;
          }
        }
      }

      & .notification-icon {
        width: 45px;
        height: 45px;
        margin-right: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        svg {
          width: 100%;
          height: 100%;
          fill: white;
          cursor: pointer;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        & .new-notification {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 12px;
          font-weight: 600;
          color: #8053ff;
          cursor: pointer;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .header-wrapp {
    padding: 0px 20px;
    & .header-body {
      a {
        & .header-brand {
          font-weight: 600;
          font-size: 24px;
        }
      }
      & .header-item-btn-component-wraper {
        padding: 10px 0px 7px 0px;
        height: auto;
        align-items: center;
        width: 60px;
        font-size: 12px;
        border-radius: 8px;
        margin: auto 6px auto 0px;
      }
      & .login-wrapper {
        margin-left: 0px;
        .header-profile {
          width: 34px;
          height: 34px;
          // border: 3px solid white;
          font-size: 20px;
        }
        .header-nav {
          top: 70px;
          .header-nav-item {
            padding: 10px 0px;
            font-size: 16px;
          }
        }
        & .item-cart-wraper {
          position: relative;
          margin-right: 6px;
          width: 30px;
          padding-top: 3px;
          & .item-cart {
            margin-right: 6px;
            width: 28px;
            height: 28px;
          }
          & .item-cart-number {
            width: 15px;
            height: 15px;
            border: 2px solid #222;
            font-size: 6px;
          }
        }

        & .notification-icon {
          width: 28px;
          height: 28px;
          margin-right: 6px;

          & .new-notification {
            font-size: 8px;
          }
        }
      }
    }
  }
}

//       & .fill-wallet {
//         filter: brightness(100) invert(30%) sepia(50%)
//           saturate(8100%) hue-rotate(220deg) contrast(1200%);
//       }
