* {
  box-sizing: border-box;
}

@keyframes nftGalleryImageAnimation {
  from {opacity: 0;}
  to {opacity: 1;}
}


.gallery-wrapper {
  margin-top: 60px;
  width: 100%;
  box-sizing: border-box;
  max-width: 800px;
  padding: 0px;
  display: flex;
  justify-content: space-between;
}

.nft-gallery-description{
  color:#ddd;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 600;
  max-width: 800px;
  text-align: center;
}

.image-wrap {
  cursor: pointer;
  width: 48%;
  //padding-top: 48%;
  max-width: 410px;
  max-height: 410px;
  border-radius: 16px;
  overflow: hidden;
  animation-name: nftGalleryImageAnimation;
  animation-duration: 1s;
}

.gallery-btn {
  padding: 0px;
  position: relative;
  padding-top: 60px;
}

.flash {
  width: 36px;
  height: 36px;
  border: 1px solid white;
  margin: auto 0px;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 50%;
    height: 50%;
  }
}
.carousel-circle {
  margin-top: 40px;
  display: flex;
  //margin: auto auto;
  justify-content: space-around;
  padding: 0px auto;
  height: 50px;
  width: auto;
  min-width: 300px;

  span {
    background: #ffffff;
    width: 10px;
    height: 10px;
    max-width: 10px;
    max-height: 10px;
    margin: auto 10px;
  }

  & .active {
    opacity: 1;
  }

  & .nonactive {
    opacity: 0.7;
  }
  img{
    width:50px;
    height: 50px;
    cursor: pointer;
  }
}

@media only screen and (max-width: 768px) {
  .gr {
    padding: 0px 15px;
  }

  .carousel-circle {
    margin-top: 40px;
    min-width: 300px;
    span {
      margin: auto 6px;
    }
  }

  .nft-gallery-description{
    font-size: 10px;
    padding:0px 0px 0px 25px;
  }
  
}
