.rule-set-page {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  & .title {
    color: #fff;
    font-weight: 600;
    font-size: 40px;
  }

  & .rule-number {
    margin-top: 0px;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
  }
}
@media only screen and (max-width: 768px) {
  .rule-set-page {
   // margin: 0px 20px;
    & .title {
      font-size: 30px;
    }
    & .rule-number {
      font-size: 14px;
    }
  }
}
