.post-wrapper {
  width: 100%;
  max-width: 800px;
  display: flex;
  justify-content: center;
}

.side {
  width: 45%;
  max-width: 400px;
  max-height: 400px;
}
.sideR{
    margin-left:15px;
}

.post-img {
  border-radius: 16px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.explore {
  font-family: "AvenirNext";
  font-style: normal;
  font-weight: 500;
  font-size: 1.5vw;
  line-height: 30px;
  letter-spacing: 0.5px;
  color: #ffffff;
  height: 30px;
}

.exnum {
  margin-top: 8px;
  font-family: "AvenirNext";
  font-style: normal;
  font-weight: 600;
  font-size: 2.5vw;
  line-height: 48px;
  letter-spacing: 0.5px;
  color: #ffffff;
  height: 48px;
}
.list-wrap {
  height: 30px;
  margin-top: 28px;
}

.listed {
  font-family: "AvenirNext";
  font-style: normal;
  font-weight: 600;
  font-size: 1.5vw;
  line-height: 30px;
  letter-spacing: 0.5px;
}

.buy-btn {
  margin-top: 40px;
  margin-bottom: 40px;
  background: #8053ff;
  border-radius: 8px;
  height: 52px;
  padding: 12px 20px;

  font-family: "AvenirNext";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
}

.diamond {
  width: 22px;
  height: 22px;
  margin:auto 0px;
}
.diamond-text {
  font-family: "AvenirNext";
  font-style: normal;
  font-weight: 400;
  font-size: 0.85vw;
  line-height: 20px;
  letter-spacing: 0.5px;
  color: #ffffff;
  white-space: nowrap;
  padding-left: 10px;
}

@media only screen and (max-width: 768px) {
  .gr {
    padding: 0px 15px;
  }
  .post-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .side {
    width: 100%;
  }
}

@media only screen and (max-width: 1050px) {
  .list-wrap {
    margin-top: 18px;
  }
  .buy-btn {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 46px;
  }
  .diamond-text {
    font-size: 1vw;
  }
}

@media only screen and (max-width: 900px) {
  .list-wrap {
    margin-top: 12px;
  }
  .buy-btn {
    margin-top: 14px;
    margin-bottom: 14px;
    height: 36px;
    padding: 0px 20px;
    font-size: 16px;
  }
  .diamond-text {
    font-size: 1vw;
  }
}
@media only screen and (max-width: 800px) {
  .list-wrap {
    margin-top: 10px;
  }
  .buy-btn {
    margin-top: 12px;
    margin-bottom: 12px;
    height: 30px;
    padding: 0px 20px;
  }
  .diamond-text {
    font-size: 1vw;
  }
}

@media only screen and (max-width: 768px) {
    .side {
    height:auto;
      }
  .sideR {
    margin-top: 32px;
    margin-left:0px;
  }

  .explore {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    height: 24px;
  }

  .exnum {
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.5px;
    height: 36px;
  }
  .list-wrap {
    height: 24px;
  }

  .listed {
    font-size: 16px;
    line-height: 24px;
  }

  .buy-btn {
    margin-top: 32px;
    margin-bottom: 32px;
    padding: 12px 20px;
    width: 100%;
    height: 52px;
    font-size: 20px;
    line-height: 28px;
  }

  .diamond {
    width: 15px;
    height: 15px;
  }
  .diamond-text {

    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.5px;

    white-space:normal;
    padding-left: 10px;
  }
}
