.editor {
    padding: 20px;
    background: #141414;
    border-radius: 8px;

    :global {
        .ql-toolbar {
            &.ql-snow {
                border: none;
            }
        }

        .ql-container {
            &.ql-snow {
                border: none;
                padding: 20px 0;
            }
        }

        .ql-editor {
            padding: 0;

            &.ql-blank {
                padding: 0;

                &::before {
                    color: #5a5a5a;
                    left: 0;
                    font-style: normal;
                    font-size: .85rem;
                }
            }
        }

        .ql-picker-options {
            background: #131313;
            color: #CACACA;
        }
    }
}