.fonts {
    @font-face {
        font-family: "Allerta";
        src: url("/assest/fonts/preview/Allerta-Regular.ttf") format("truetype");
    }

    @font-face {
        font-family: "Nunito Sans";
        src: url("/assest/fonts/preview/NunitoSans-VariableFont.ttf") format("truetype");
    }

    @font-face {
        font-family: "Fredoka One";
        src: url("/assest/fonts/preview/Fredoka-VariableFont.ttf") format("truetype");
    }

    @font-face {
        font-family: "Manrope";
        src: local("Manrope-VariableFont_wght"), url("/assest/fonts/preview/Manrope-VariableFont_wght.ttf") format("truetype");
    }

    @font-face {
        font-family: "Montserrat";
        src: local("Montserrat-VariableFont_wght"), url("/assest/fonts/preview/Montserrat-VariableFont_wght.ttf") format("truetype");
    }

    @font-face {
        font-family: "Source Serif Pro";
        src: url("/assest/fonts/preview/SourceSerif4.ttf") format("truetype");
    }
}