*{
  box-sizing: border-box;
}
.footer-wrap {
  min-width: 100vw;
  height: auto;
  padding: 10px 80px;
  border-radius: 0px;
  background-color: #222222;
}
.footer-body {
  width: 100%;
  margin:auto 0px;
  height: auto;
  justify-content: start;
}

.text {
    margin-right: 22px;
  p {
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #fff;
  }
}



@media only screen and (max-width: 768px) {
  .footer-wrap {
    padding: 0px 20px;
  }
}
