.rule-item-wrapper {
  width: 100%;
  border-radius: 30px;
  padding: 15px 20px;
  margin-bottom: 20px;
  border: 3px solid #d4d4d486;
  transition: 0.8s;
  max-width: 900px;
  &:hover {
    border: 3px solid #8053ff;
  }

  & .name {
    width: 100%;
    margin-bottom: 20px;
    p {
      color: white;
      font-size: 20px;
    }
  }

  & .address {
    color: white;
    font-size: 20px;
    max-width: 80%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
   
  }
  & code {
    color: #8053ff;
  }
  & .nft {
    color: white;
    font-size: 20px;
    & code {
      color: #8053ff;
    }
  }
  & .btn-rule-item {
    font-size: 16px;
    width: auto;
  }
}

@media only screen and (max-width: 768px) {
  .rule-item-wrapper {
    padding: 15px 20px;
    & .name {
      p {
        font-size: 16px;
      }
    }

    & .address {
      font-size: 14px;
      max-width: 70%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    & .nft {
      font-size: 14px;
    }
    & .btn-rule-item {
      width: auto;
      font-size: 12px;
    }
  }
}
