* {
    box-sizing: border-box;
  }
  
  .terms-wrap {
    width: 100%;
    //height:100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }
  
  .terms-body {
    border: 1px solid #b3b3b3;
    box-sizing: border-box;
    border-radius: 16px;
    width: 100%;
    padding: 15px;
    max-width: 850px;
    height: auto;
  }
  
  .terms-title {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    p {
      margin: auto 0px;
      color: #fff;
      font-family: "AvenirNext";
      font-weight: 600;
      font-size: 32px;
    }
  }
  
  .terms-text {
    display: flex;
  
    flex-direction: column;
    p {
      margin: auto 0px;
      color: #fff;
      font-family: "AvenirNext";
      font-weight: 500;
      font-size: 18px;
      margin-bottom: 30px;
      span {
        font-weight: 600;
        font-size: 22px;
      }
    }
  }
  .terms-btn {
    background-color: #8053ff;
    display: flex;
    align-items: center;
    height: 52px;
    width: 250px;
    border-radius: 8px;
    padding:16px 0px;
  
    p {
      margin: 0px auto;
      color: #ffffff;
      font-family: "AvenirNext";
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 20px;
    }
  }
  @media only screen and (max-width: 768px) {
    .terms-body {
      max-width: 100%;
      margin: 0px 15px;
    }
    .terms-title {
      margin-bottom: 20px;
      p {
        font-weight: 600;
        font-size: 24px;
      }
    }
    .terms-text {
      p {
        font-weight: 500;
        font-size: 16px;
        margin-bottom: 25px;
        span {
          font-size: 20px;
        }
      }
    }
    .terms-btn {
      height: 42px;
      width: 100%;
      padding:13px 0px;
      p {
        margin:0px auto;
        font-weight: 600;
        line-height: 16px;
        font-size: 16px;
      }
    }
  }
  