.switch {
    * {
        border: none !important;
        outline: none !important;
    }

    &>span {
        background-color: #5e5e5e;
        &>span {
            background-color: #1E1E1E;
        }
    }

}