.image-side {
    width: 360px;
    height: 420px;
    border: 1px solid white;
    border-radius: 16px;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
      height: 100%;
      border-radius: 16px;
     background: none;
    }
  }

  .image-groupe {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0px;

    .slide-button {
      width: 32px;
      height: 32px;
      border: 1px solid white;
      border-radius: 25px;
      color: white;
      background: none;
    }

    .slide-img {
      width: 60px;
      height: 60px;
      border-radius: 8px;
    }
  }