* {
    box-sizing: border-box;
  }
  
  .header-wrapp {
    width: 100vw;
    padding: 0px 80px;
    background-color: #222222;
  
    .header-body {
      width: 100%;
      padding: 8px 0px;
  
      a {
        margin: auto 0px;
        .header-brand {
          // width: 180px;
          // height: 100%;
          //display: flex;
          //align-items: center;
          font-family: "AvenirNext";
          font-style: normal;
          font-weight: 600;
          font-size: 28px;
          color: #fff;
          text-align: center;
          //vertical-align: text-top;
        }
      }
  
      .login-wrapper {
        margin: auto 0px;
        display: flex;
        justify-content: center;
        padding: 12px 0px;
        width: 130px;
        cursor: pointer;
        color: #fff;
        font-family: "AvenirNext";
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        border-radius: 8px;
      }

      
    }
  }
  
  
  @media only screen and (max-width: 768px) {
    .header-wrapp {
      padding: 0px 20px;
      .header-body {
        .header-brand {
          font-weight: 600;
          font-size: 28px;
        }
        .login-wrapper {
          height: auto;
          align-items: center;
          width: 100px;
          font-weight: 600;
          font-size: 16px;
          border-radius: 8px;
        }
      }
    }
  
  }
  
  @media only screen and (max-width: 500px) {
    .header-wrapp {
      padding: 0px 20px;
      .header-body {
        .header-brand {
          font-weight: 600;
          font-size: 24px;
        }
  
        .login-wrapper {
          align-items: center;
          width: 80px;
          font-weight: 600;
          font-size: 14px;
          border-radius: 8px;
        }
      }
    }
  }
  