@import "assest/style/colors";

.box {
    color: #FFF;
    background-color: #1C1C1C;
    padding: 8px 16px;
    border-radius: 100px;
    color: #565656;
    cursor: pointer;

    &.active {
        background-color: $primary;
    }
}