.editor {
    :global {
        .key-modal-request {
            background: rgba(0, 0, 0, 0.6) !important;
            backdrop-filter: blur(1px);

            &>div {
                background-color: rgb(40, 40, 40) !important;
                padding: 20px !important;
                width: 260px !important;

                div:nth-child(1) {
                    color: #e7e7e7 !important;
                }

                div:nth-child(2) {
                    svg {
                        top: 8px !important;
                        right: 8px !important;
                    }
                }

                span {
                    background: none !important;
                    top: 3px !important;
                    right: 3px !important;

                    svg {
                        fill: #FFF;
                        width: 20px !important;
                        height: 20px !important;
                    }
                }

                input {
                    background-color: #404040;
                    outline: none !important;
                    box-shadow: unset !important;
                    color: #FFF !important;
                    padding: 10px !important;
                }
            }
        }
    }
}