.switch {
    :global {
        .chakra-switch__track {
            background-color: #5D5D5D;

            &[data-checked=""] {
                background-color: #2EC99E;
            }

            .chakra-switch__thumb {
                background-color: #262626;
            }
        }
    }
}