*{
    box-sizing: border-box;
}

.wraper{
    margin: 0px;
    padding: 100px 0px;
    display: flex;
    justify-content: space-between;
}

.sides{
    min-height: 400px;
    display: inline-block;
}

@media only screen and (max-width: 768px) {
    .wraper{
        padding-top: 50px;
        display: flex;
       flex-direction: column;
    }
}


