.table {
    width: 100%;
    color: #bebebe;
    
    thead {
        border-top: 2px solid #292929;
        border-bottom: 2px solid #292929;
        
        th {
            text-transform: uppercase;
            padding: 14px 0;
            font-size: .8rem;
        }
    }
    
    tbody {
        tr {
            border-bottom: 2px solid #292929;
            
            td {
                padding: 14px 0;
                font-size: .9rem;
            }
        }
    }
}