.input {
    width: 100%;
    background-color: #141414;
    color: #FFF;
    padding: 12px 17px;
    font-size: 14px;
    color: #808080;
    border-radius: 8px;
    border: none !important;
    outline: none !important;
    margin: 0 !important;

    &::placeholder {
        color: #808080;
        opacity: .9;
    }
}

.datepicker {
    :global {
        .react-datepicker__tab-loop {
            margin: 0;
        }

        .react-datepicker-popper {
            padding: 0;
        }

        .react-datepicker {
            background-color: #0f0f0f;
            border: 4px solid #141414 !important;

            .react-datepicker__day-name,
            .react-datepicker__day,
            .react-datepicker__time-name {
                color: #b4b4b4;
                font-family: aven;
            }
        }

        .react-datepicker__header {
            background-color: #0d0d0d;
            border-color: #282828;
        }

        .react-datepicker__triangle {
            display: none;
        }

        .react-datepicker__current-month {
            color: #808080;
            font-size: .8rem;
            padding: 10px 0;
        }

        .react-datepicker__navigation {
            top: 17px;
        }

        .react-datepicker__day:hover,
        .react-datepicker__month-text:hover,
        .react-datepicker__quarter-text:hover,
        .react-datepicker__year-text:hover {
            background-color: #3f3f3f;
        }

        .style_datepicker__EN4et .react-datepicker__day:hover,
        .style_datepicker__EN4et .react-datepicker__month-text:hover,
        .style_datepicker__EN4et .react-datepicker__quarter-text:hover,
        .style_datepicker__EN4et .react-datepicker__year-text:hover {
            color: #FFF;
        }

        .react-datepicker__day--selected {
            color: #eeeeee !important;
            background-color: #3f3f3f !important;
        }

        .react-datepicker__day--disabled {
            opacity: .4;

            &:hover {
                background: none !important;
            }
        }
    }
}