.editor {
    position: relative;
    border-radius: 8px;
    background: #141414;
    z-index: 1;
    width: 100%;

    :global {  
        .tox {
            border: 1px solid #292929; // Adds a border around the text editor area
            border-radius: 8px !important;
            overflow: hidden;
        }

        .tox-editor-header{
            border-bottom: 1px solid #292929 !important;
        }

        .tox-toolbar__primary,
        .tox-editor-header,
        .tox-tbtn {
            background: #1C1C1C !important;
        }

        .tox-edit-area iframe{
            background: #141414; // Ensures the background matches the editor theme
        }

        .tox-statusbar {
            display: none !important; // Removes the footer/status bar
        }
    }
}