*{
  box-sizing: border-box;
}

.header {

  width: 100vw;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid white;

  .header-wrapper {
    padding: 0px 20px;
    max-width: 1250px;
    width: 100%;
    height: 80%;

    a {
      text-decoration: none;
    }

    .wallet {
      display: flex;
      justify-content: end;
      align-items: center;

      img {
        margin: auto 0px;
        width: 50px;
        height: 50px;
        cursor: pointer;
      }
    }
  }
}

.brand-logo {
  display: flex;
  justify-content: start;

  h1 {
    align-items: center;
    margin: auto 0px;
    color: white;
    font-weight: bold;
    font-family: "avenir";
  }
}

.wallet-icon-notfill {
  color: white;
}

.wallet-icon-fill {
  color: #5e56f5;
  filter: grayscale(100%) brightness(30%) sepia(60%) hue-rotate(-110deg)
    saturate(500%) contrast(10);
}

.brandName{
    text-decoration: none;
    color:white;
    font-weight: 900;
    font-family: "avenir";
    font-size: 30px;
}

.brandName:hover{
    text-decoration: none;
    color: white;
}
