$bgimg:  linear-gradient(#04619f, #000000);
$textColor : white;
@import "../../../assest/scss/fonts/fonts.scss";





*{
    box-sizing: border-box; 
}

.page{
    
    width:100vw;
    height:100vh;
}

.header{
    width:100%;
    height:120px;
    display: flex;
    padding: 30px 0px;
    justify-content:space-between;
    border-bottom: 4px solid black;
    
    

    .sign-in{
        background-color: Transparent;
        color:white;
        border : none;
    }

    .sign-up{
        border-radius:100px;
        color:white;
        background-color:#7a73fc;
        font-family:"avenir" ;
        font-size:25px;
        //min-width:200px;
       // width:100%;
    }
    .sign-up:hover{
        
        background-color:#5e56f5;
    }
}
.title{
    font-size:50px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top:40px;
    color:white;
    font-family: "AvenirNextBold";
}

.description{
    font-size:30px;
    font-weight: Medium;
    margin-top: 10px ;
    margin-bottom: 80px;
    color:white;
    font-family:"avenir";
}

.register-input{
    margin-top:20px;
   
}

.input-cover{
    border-radius: 25px;
    outline-color: #7a73fc;
    //border-color: #7a73fc;
    border:1px solid #7a73fc;
    overflow:hidden;
    padding:5px;
    padding-left: 15px;

    .input-span{
        color:white;
        font-size:25px;
        border-style: none;
        margin:auto 0px;
        font-family:"avenir";
    }
    input{
        border-style: none;
        font-size:25px;
        background-color:transparent;
        color:white;
        margin:auto 0px;
        font-family:"avenir";
    }
    input:focus{
        border-style: none;
        outline: none;
        background-color:transparent;
    }

    

}
 

.group-form{
    margin:100px auto;
}

.left-side{
    
    min-height:100vh;
}

.right-side{
   
    min-height:100vh;

    .right-image{
        margin: auto auto;
        max-width:100%;
    }
}

.main{
    width:100%;
    min-height:100%;
    background-color:bgcolor; 
    padding-top: 0px;
    
}

.form-button{
    background-color:#7a73fc;
    border-radius: 25px 25px;
    color:white;
    border-style: none;
    font-size:25px;
    height:50px;
    font-family:"avenir";
}

.form-button:hover{
    background-color:#5e56f5;
    color:black;

}




@keyframes main {
    0%   {background-color:rgba(0,0,0,0); width:0%; height:0%;}
    100% {background-color:rgba(0,0,0,0.5); width:100%; height:100%;}
  }


  

.modal-main{
    animation-name: main;
    animation-duration: 0.5s;
    z-index: 5;
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    

    .modal-body{
        z-index: 10;
        position: absolute;
        width:30%;
        height:50%;  
        opacity: 1;

        .modal-head{
            opacity: 1;
            width:100%;
            height:60%;
            background-color:lightblue;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
    .modal-middle{
    width:100%;
    height:40%;
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    }

        

        
    }
}


.headerText{
    color:white;
    font-weight:bold;
    //font-size:50px;
    font-family: "avenir";
    padding-top:10px;
}

.wallet-icon{
    width:50%;
    height:100%;
    cursor: pointer;
}


.wallet-icon-notfill{
    color:white;
   
}

.wallet-icon-fill{
    color:#5e56f5;
}

.footer-text{
    color:white;
    height:100%;
   
    p{
        //text-align: center;
        margin:auto 0px;
        padding-left:30px;
        font-family:"avenir" ;
        font-size:18px;

        .footer-icon{
            filter: brightness(0) invert(1);
            padding-left:5px;
            max-height: 100%;
        }   
    }
  
}

.footer-wrap{
       
       width:60px;
       height:60px;
       background-position: center;
       background-size: cover;
       border-radius: 50px;

}


@media only screen and (min-width: 600px) {

    body{
        font-family:"avenir" ;
        font-size:15px;
    }
          
    
  }