$bgimg:  linear-gradient(#04619f, #000000);
$textColor : white;
@import "../../../assest/scss/fonts/fonts.scss";





*{
    box-sizing: border-box; 
}

.page{
    
    width:100vw;
    height:100vh;
}

.header{
    width:100%;
    height:120px;
    display: flex;
    padding: 30px 0px;
    justify-content:space-between;
    border-bottom: 4px solid black;
    
    

    .sign-in{
        background-color: Transparent;
        color:white;
        border : none;
    }

    .sign-up{
        padding-top:20px;
        text-align: center;
        margin:auto;
        border:none;
        outline:none;
        border-radius:100px;
        color:white;
        background-color:#7a73fc;
        font-family:"avenir" ;
        font-size:25px;
        //min-width:200px;
        //width:100%;
    }
    .sign-up:hover{
        
        background-color:#5e56f5;
    }
}
.title{
    font-size:50px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top:40px;
    color:white;
    font-family: "AvenirNextBold";
}

.description{
    font-size:30px;
    font-weight: Medium;
    margin-top: 10px ;
    margin-bottom: 80px;
    color:white;
    font-family:"avenir";
}

.register-input{
    margin-top:20px;
   
}

.input-cover{
    border-radius: 25px;
    outline-color: #7a73fc;
    //border-color: #7a73fc;
    border:1px solid #7a73fc;
    overflow:hidden;
    padding:5px;
    padding-left: 15px;

    .input-span{
        color:white;
        font-size:25px;
        border-style: none;
        margin:auto 0px;
        font-family:"avenir";
    }
    input{
        border-style: none;
        font-size:25px;
        background-color:transparent;
        color:white;
        margin:auto 0px;
        font-family:"avenir";
    }
    input:focus{
        border-style: none;
        outline: none;
        background-color:transparent;
    }

    

}
 

.group-form{
    margin:100px auto;
}

.left-side{
    
    min-height:100vh;
}

.right-side{
   
    min-height:100vh;

    .right-image{
        margin: auto auto;
        max-width:100%;
    }
}

.main{
    width:100%;
    min-height:100%;
    background-color:bgcolor; 
    padding-top: 0px;
    
}

.form-button{
    background-color:#7a73fc;
    border-radius: 25px 25px;
    color:white;
    border-style: none;
    font-size:25px;
    height:50px;
    font-family:"avenir";
}

.form-button:hover{
    background-color:#5e56f5;
    color:black;

}




@keyframes main {
    0%   {background-color:rgba(0,0,0,0); width:0%; height:0%;}
    100% {background-color:rgba(0,0,0,0.5); width:100%; height:100%;}
  }


  

.modal-main{
    animation-name: main;
    animation-duration: 0.5s;
    z-index: 5;
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    

    .modal-body{
        z-index: 10;
        position: absolute;
        width:500px;
        height:50%;  
        opacity: 1;

        .modal-head{
            opacity: 1;
            width:100%;
            height:25%;
            background-color:#7a73fc;
            display: flex;
            justify-content: center;
            align-items: center;
            padding:10px;
        }
        
    .modal-middle{
    width:100%;
    height:35%;
    background-color:#222;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding:15px;
   
    p{
       
        color:white;
        font-weight:bold;
        font-size:17px;
        font-family: "avenir";
        padding-top:10px;
        text-align: center;
        text-align-last: center;
    }
    }

        

        
    }
}


.headerText{
    color:white;
    font-weight:bold;
    //font-size:20px;
    font-family: "avenir";
    padding-top:10px;
}

.wallet-icon{
    width:50%;
    height:100%;
    cursor: pointer;
}


.wallet-icon-notfill{
    color:white;
    
   
}

.wallet-icon-fill{
    color:#5e56f5;
    filter: grayscale(100%) brightness(30%) sepia(60%) hue-rotate(-110deg) saturate(500%) contrast(10);
}

.footer-text{
    color:white;
    height:100%;
   
    p{
        //text-align: center;
        margin:auto 0px;
        padding-left:30px;
        font-family:"avenir" ;
        font-size:18px;

        .footer-icon{
            filter: brightness(0) invert(1);
            padding-left:5px;
            max-height: 100%;
        }   
    }
  
}

.footer-wrap{
       
       width:60px;
       height:60px;
       background-position: center;
       background-size: cover;
       border-radius: 50px;

}


@media only screen and (max-width: 600px) {


    .res-btn{
       
        height:50px;
      
        text-align: start;
        

        
            p{
             
                height:25px;
                width:100%;
                font-size:18px;
                text-align: center;
                padding-top:12px;
            }

            .sign-up{
               
                height:50px;
                padding-top:0px;
            }
    
       
    }


    .footer-text{
        height:100%;
        p{
            padding-left:0px;
            .footer-icon{
                padding-left:2px;
               width:50%;
            }   
        }
      
    }

   

    
    .wallet-icon{
        width:40px;
        height:40px;
        margin-top:5px;
    }

    .right-side{
        min-height:50vh;
    }
    


    .input-cover{
       // padding-top:15px;
        align-items: center;
        //padding-left:5px;

   
        .input-span{
            flex:50%;
            font-size:16px;
            font-family:"avenir";
            font-weight: bold;
        }
        input{
            flex:50%;
            font-size:16px;
            font-family:"avenir";
            font-weight: bold;
        }
    }

    .email-res{
        margin-top:auto 0px;
        padding-top:10px;
    }



    .modal-main{

        width:100%;
        height:100%;
    
        .modal-body{
           
            width:220px;
            height:50%;  
            margin:0px auto;
            .modal-head{
                width:100%;
                height:15%;
                padding:5px;
            }
             .modal-middle{
                 width:100%;
                 height:30%;
                 padding:5px;
                    p{
                         font-size:12px;
                         padding-top:10px; 
                     }
        }
  
        }
        }
  }