.IMS-page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & .ims-title {
    color: #fff;
    font-weight: 600;
    font-size: 40px;
  }

  & .number-of-merchs {
    margin-top: 0px;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
  }

  & .no-product{
    margin-top: 40px;
    color: #fff;
    font-weight: 600;
    font-size: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .IMS-page-wrapper {
    margin:0px 20px;
  
    & .ims-title {
      font-size: 30px;
    }
  
    & .number-of-merchs {
      font-size: 14px;
    }
  
    & .no-product{
    }
  }
}
