.checkuot-page-wrapper {
  width: 100%;
  padding: 0px 80px;
  margin: auto;
  & .top-nav {
    & .item {
      color: #fff;
      font-size: 20px;
      font-weight: 600;
    }
    margin-bottom: 30px;
  }

  & .item-container {
    max-height: 80px;
    padding: 10px 0px;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
    & .img-title {
      display: flex;

      & img {
        height: 100%;
        aspect-ratio: 1/1;
      }

      & .detail {
        padding-left: 20px;
        width: 100%;
        overflow: hidden;
        & p {
          color: #fff;
          font-size: 18px;
          font-weight: 600;
        }
      }
    }

    & .item-counter-wrap {
      display: flex;
      justify-content: start;
      align-items: center;

      & img {
        width: 20px;
        height: 20px;
        margin-right: 12px;
        cursor: pointer;
      }
      & p {
        color: white;
        font-size: 20px;
        margin-right: 8px;
      }
    }

    & .price {
      color: #fff;
      font-size: 20px;
    }

    & .close-btn {
      & img {
        width: 30px;
        height: 30px;
        cursor: pointer;
      }
    }
  }
  & .total-price {
    width: auto;
margin-top: 30px;
    & .text {
      color: #ccc;
      font-size: 20px;
      font-weight: 600;
      margin-right: 10px;
    }

    & .price {
      color: #fff;
      font-size: 22px;
      font-weight: 600;
    }
  }
}


@media only screen and (max-width: 768px) {
    .checkuot-page-wrapper {
        padding: 0px 20px;

        & .top-nav {
          & .item {
            font-size: 12px;
            display: flex;
            justify-content: center;
          }
          margin-bottom: 30px;
        }
      
        & .item-container {
          max-height: 70px;
          padding: 5px 0px;

          & .img-title {

            & img {
              height: 100%;
              aspect-ratio: 1/1;
            }
      
            & .detail {
              padding-left: 15px;
              height: 100%;
              flex-direction: column;
              justify-content: space-between;
              & p {
                font-size: 12px;
              }
            }
          }
      
          & .item-counter-wrap {

            & img {
              width: 14px;
              height: 14px;
              margin-right: 8px;
            }
            & p {
              color: white;
              font-size: 12px;
              margin-right: 8px;
            }
          }
      
          & .price {
            font-size: 12px;
            display: flex;
            justify-content: center;
          }
      
          & .close-btn {
            & img {
              width: 15px;
              height: 15px;
            }
          }
        }
        & .total-price {
      margin-top: 20px;
      align-items: center;
          & .text {
            font-size: 14px;
            margin-right: 8px;
          }    
          & .price {
            font-size:18px;
          }
        }
      }
      

}