input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0px 1000px #181818 inset;
  transition: background-color 5000s ease-in-out 0s;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.medium-modal-wrapper {
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.8);
  padding-bottom: 50px;
  & .medium-modal-body {
    z-index: 11;
    box-sizing: border-box;
    height: auto;
    margin: auto;
    width: 500px;
    background: #242424;
  //  box-shadow: 0px 2px 30px rgba(85, 88, 90, 0.1);
    border-radius: 8px;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.5s;
    animation-name: animatetop;
    animation-duration: 0.5s;
    padding: 40px 60px 40px 60px;
  }
}

@media only screen and (max-width: 768px) {
  .medium-modal-wrapper {
    width: 100vw;
    padding: 30px 30px 30px 30px;
    & .medium-modal-body {
      margin: auto;
      width: 100%;
      padding: 30px 20px 30px 20px;
    }
  }
}
