#auto-button-component {
    padding: 12px 20px;
    width: 100%;
    height: auto;
    background: #8053ff;
    border-radius: 8px;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #ffffff;
    margin:0px auto;
  }
  
  @media only screen and (max-width: 768px) {
    #auto-button-component {
      padding: 12px 20px 9px 20px;
      width: 100%;
      font-size: 16px;
    }
  }
  