@import "assest/style/colors";

.table {
    color: #FFF;
    width: 100%;
    border-top: 1px solid #262626;

    td,
    th {
        padding: 10px 5px;
    }

    tr {
        border: 1px solid #262626;
        border-right: 0;
        border-left: 0;
    }
}

.more {
    direction: rtl;

    img {
        cursor: pointer;
    }
}

.menu {
    direction: ltr;
    background: #292929;
    border-radius: 8px;
    padding: 12px 15px;
    font-size: .9rem;
    border: none;


    button {
        padding: 0;
        background: none !important;
    }
}