*{
    box-sizing: border-box;
}

.collection-container{
        border:1px solid white;
        border-radius: 15px;
        box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
}

.boxes{
        width:400px;
        height:400px;
        overflow: hidden;
        border-radius: 15px;


        .image-wrapper{
                position: relative;
                width:100%;
                height:70%;
                .image1{   
                        .image-wrap{

                         width:100%;
                         height:100%;
                                 max-width:100%;
                                max-height:100%;  
                                background-color:white;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                border:1px solid #444;
                                img{
                                        max-width:100%;
                                 max-height:100%;  
                         }
                 
                         } 
                }
                .images{
                        background-color:white;

                         .image-wrap{

                                width:100%;
                                height:50%;
                                        max-width:100%;
                                       max-height:50%;  
                                       background-color:white;
                                       display: flex;
                                       justify-content: center;
                                       align-items: center;
                                       border:1px solid #444;

                                img{     
                                       
                             max-width:100%;
                             max-height:100%;  
                                       
                                        }

                         }
                      
                                
                }
        }

        .detail-wrapper{
                width:100%;
                height:30%; 
                background-color: white;
                align-items: center;
                text-align: center;
                border-right:2px solid #444;
                border-left:1px solid #444;
                border-bottom:2px solid #444;
                border-top:0px;
                padding-top:10px;

                p{
                        margin:auto 0px;
                        color:#00FFFB;
                        padding-left: 20px;
                       
                        text-align:center;
                        height:50%;
                        font-size:34px;
                        font-weight: bold;
                        font-family: "avenir";
                }
        }
}


.carousel-img{
    width:400px;
    height:400px;
    max-width:400px;
    max-height:400px;
}

 //       ......................        media query 576px
@media only screen and (max-width: 576px) {


    .boxes{
        width:300px;
        height:300px;
}

// .holder-merch{
//         width:300px;
//         height:300px; 
// }

// .public-merch{
//         width:300px;
//         height:300px;
// }

.carousel-img{
    width:300px;
    height:300px;
    max-width:300px;
    max-height:300px;
}

.detail-wrapper{

        padding-bottom: 30px;

        p{
              
                height:40%;
                font-size:24px;
                font-weight: bold;
        }
}


    
  }
 //      .....................     media query 576px