input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0px 1000px #353536 inset;
  transition: background-color 5000s ease-in-out 0s;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.add-rule-moda-wrapper {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4);
  padding-bottom: 50px;
  & .add-rule-moda-body {
    box-sizing: border-box;
    height: auto;
    margin: auto;
    width: 700px;
    background: #353536;
    box-shadow: 0px 2px 30px rgba(85, 88, 90, 0.1);
    border-radius: 24px;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    padding: 40px 40px 40px 40px;
  }

  & .delete-btn{
    color:#fd6060;
    font-size: 12px;
    width: auto;
    height: 100%;
    margin-left: 5px;
    cursor: pointer;
  }
  & .text{
    font-size: 18px;
    color: white;
  }
  & .input-wrap{
    width: 50%;
  }
}

@media only screen and (max-width: 768px) {
  .add-rule-moda-wrapper {
    width: 100vw;
    padding: 30px 30px 30px 30px;
    & .add-rule-moda-body {
      margin: auto;
      width: 100%;
      padding: 30px 20px 60px 20px;
    }
    & .delete-btn{
      font-size: 8px;
    }
    & .text{
      font-size: 8px;
      color: white;
      margin-left: 5px;
    }
    & .input-wrap{
      width: 10 0%;
    }
  }
}
