.Register-structure-wrapper {
  color: hsl(0, 0%, 100%);
  width: 100%;
  padding: 0px 80px;
  display: flex;
  justify-content: center;
  .Register-structure-body {
    width: 100%;
    max-width: 900px;
    border: 1px solid #b3b3b3;
    border-radius: 16px;
    display: flex;

    .Register-structure-sidebar {
      padding: 40px 10px;
      border-right: 1px solid white;
      width: 30%;
      display: flex;
      flex-direction: column;

      .item {
        margin: 0px auto;
        width: 95%;

        border-radius: 8px;
        font-weight: 500;
        font-size: 1rem;
        text-align: center;
        padding: 12px 0px;
        margin-bottom: 15px;
      }
      .selecteditem {
        background: #8053ff;
      }
      .unselecteditem {
        background: #353536;
      }
    }
    .Register-structure-content {
      width: 100%;
      padding: 40px 30px;
      display: flex;

      & .loading-btn {
        background-color: #666666;
      }
      & .non-loading-btn {
        background-color: #8053ff;
      }

      .next-back-btn {
        text-align: center;
        margin-top: 40px;
        font-family: "AvenirNext";
        font-style: normal;
        color: #ffffff;
        font-size: 20px;
        font-weight: 600;
        width: 150px;
        padding: 13px 16px;
        border-radius: 10px;
      }

      & .register-error {
        color: red;
        font-family: "AvenirNext";
        font-style: normal;
        font-size: 16px;
        font-weight:600;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .Register-structure-wrapper {
    padding: 0px 20px;
    .Register-structure-body {
      width: 100%;
      max-width: 900px;
      border: 1px solid white;
      display: flex;
      flex-direction: column;

      .Register-structure-sidebar {
        border-right: none;
        border-bottom: 1px solid white;
        width: 100%;
        padding: 20px 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .item {
          margin: 0px 0px;
          width: 20%;
          font-size:0.5rem;
          text-align: center;
          padding: 12px 0px 9px 0px;
        }
      }
      .Register-structure-content {
        padding: 20px 10px;

        .next-back-btn {
          margin-top: 40px;
          font-size: 16px;
          width: 100px;
          padding: 13px 16px 10px 16px;
        }

        & .register-error {
          font-size: 12px;
        }
      }
    }
  }
}
