* {
  box-sizing: border-box;
}

.left-side-wrap {
  margin: auto 0px;
  max-width: 100%;
}
.discover {
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 80px;
  color: #fff;
  margin-bottom: 20px;
}
.earn {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: #f6f6f6;
  margin-bottom: 36px;
}
.signup-wrapper {
  border: 2px solid #6f41f3;
  width: 80%;
  //min-width: 521px;
  height: 68px;
  border-radius: 8px;
  padding: 8px;
  display: flex;
  align-items: center;
}

.item-span {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: #fff;
  //width: 40%;
}

.item-input {
  max-width: 50%;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: #fff;
  background: transparent;
}
.item-input:focus {
  border: none;
  outline: none;
}
.item-button {
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  background: #6f41f3;
  border-radius: 8px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  //line-height: 28px;
  text-align: center;
  color: #ffffff;
  white-space: nowrap;
  // p {

  //   flex: none;
  //   order: 0;
  //   flex-grow: 0;
  //   margin: 0px 10px;
  //   padding-bottom: 5px;
  // }
}

@media only screen and (max-width: 1200px) {
  .discover {
    font-size: 66px;
  }
  .earn {
    font-size: 22px;
  }
  .signup-wrapper {
    width: 100%;
    height: 68px;
  }
  .item-span {
    font-size: 20px;
  }
  .item-input {
    font-size: 20px;
  }
  .item-button {
    width: 20%;
    p {
      font-size: 18px;
    }
  }
}

@media only screen and (max-width: 1100px) {
  .discover {
    font-size: 62px;
  }
  .earn {
    font-size: 20px;
  }
  .signup-wrapper {
    width: 100%;
    height: 68px;
  }
  .item-span {
    font-size: 18px;
  }
  .item-input {
    font-size: 18px;
  }
  .item-button {
    width: 20%;
    p {
      font-size: 16px;
    }
  }
}

@media only screen and (max-width: 900px) {
  .discover {
    font-size: 58px;
  }
  .earn {
    font-size: 18px;
  }
  .signup-wrapper {
    width: 100%;
    height: 68px;
  }
  .item-span {
    font-size: 16px;
  }
  .item-input {
    font-size: 16px;
  }
  .item-button {
    width: 20%;
    p {
      font-size: 14px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .left-side-wrap {
    //margin-top: 50px;
    padding-right: 20px;
  }
  .discover {
    font-size: 40px;
    line-height: 52px;
  }
  .earn {
    font-size: 16px;
  }
  .signup-wrapper {
    width: 100%;
    height: 68px;
    
  }
  .item-span {
    font-size: 16px;
  }
  .item-input {
    font-size: 16px;
  }
  .item-button {
    width: 20%;

    font-size: 14px;
  }
}
