.bn-container[data-theming-css-variables-demo][data-color-scheme="dark"] {
  --bn-colors-editor-text: #C2C2C2;
  --bn-colors-editor-background: #141414;
}

.bn-editor{
  width: 100% !important;
  max-width: 100% !important;
  min-height: 400px !important;
  overflow-y: scroll !important;
}