.ResetPadd-modal-wrapper {
    position: relative;
  & .title {
    width: 100%;
    color: #fff;
    font-size: 28px;
    text-align: center;
    font-weight: 600;
  }

  & .text {
    margin-top: 40px;
    color: #fff;
    font-size: 16px;
    width: 100%;
    font-weight: 500;
  }

  & .sp-text {
    margin-top: 30px;
    color: #fff;
    font-size: 14px;
    width: auto;
    text-align: center;
    font-weight: 500;
    cursor: pointer;
  }

  & .cls-img{
      position: absolute;
      height: 32px;
      width: 32px;
      right: 0px;
      top:5px;
      cursor: pointer;
  }
}

@media only screen and (max-width: 768px) {
  .ResetPadd-modal-wrapper {
    & .title {
      font-size: 20px;
    }
    & .text {
      font-size: 12px;
    }
    & .cls-img{
        height: 24px;
        width: 24px;
        top:7px;
    }
  }
}
