@font-face {
    font-family: "AvenirNext";
    src: url(./assest/fonts/AvenirNextLTPro-Regular.otf);
}

@font-face {
    font-family: 'Avenir Next';
    src: url(./assest/fonts/Avenir-Regular.otf);
}

* {
    box-sizing: border-box;
    font-family: "AvenirNext";
    font-style: normal;
}
