@font-face {
  font-family: "AvenirNext";
  src: url(./assest/fonts/AvenirNextLTPro-Regular.otf);
}

@font-face {
  font-family: "Avenir Next";
  src: url(./assest/fonts/Avenir-Regular.otf);
}
::-webkit-scrollbar {
  width: 2px;
  background: #141414;
}
::-webkit-scrollbar-track {
 // box-shadow: inset 0 0 5px black;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #25bb92;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #25bb92;
}

* {
  box-sizing: border-box;
  font-family: "AvenirNext";
  font-style: normal;
}
