@font-face {
    font-family: "AvenirNext";
    //src: url(../../fonts/AvenirNextLTPro-Regular.otf);
	src: url(./assest/fonts/AvenirNextLTPro-Regular.otf);
}

* {
	box-sizing: border-box;
}

#profile-container {
	max-width: 1200px;
	margin: 0 auto;
}
.message {
	display: flex;
	justify-content: center;
	font-size: large;
}

.profile-top-section {
	//border-bottom: 2px solid white;
	// linear-gradient(84.41deg, #F00190 0%, #00FFFB 100%);
	

	.image-preview-container {
		position: relative;
		#postImagePreview {
			width: 100%;
			max-height: 400px;
			object-fit: cover;
		}
		.remove-image {
			position: absolute;
			right: 10px;
			top: 10px;
			width: 30px;
			height: 30px;
			border-radius: 30px;
			background: rgba(0, 0, 0, 0.5);
			color: white;
		}
	}

	.top-main {
		border-radius: 10px;
		background-color: #222;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		height: 128px;
		position: relative;
		display:flex;
		justify-content:center;
		align-items:center;

		.top-main-logo{
			margin-bottom:40px;
		}




		.button {
			position: absolute;
			right: 24px;
			bottom: 24px;
			font-size: 12px;
			font-weight: bold;
			background-color: white;
			padding: 8px 24px;
			border-radius: 20px;
			cursor: pointer;
			outline: none;

			&.followed {
				background-color: #464748;
				color: white;

				.unFollow {
					display: none;
				}

				&:hover {
					.following {
						display: none;
					}

					.unFollow {
						display: inline-block;
					}
				}
			}

			span {
				user-select: none;
			}
		}

		.img-wrap {
			position: absolute;
			border-radius: 50%;
			background-color: #00FFFB;
			bottom: 0;
			left: 50%;
			transform: translate(-50%, 50%);
			display: flex;
			justify-content: center;
			align-items: center;

			img {
				margin: auto;
				width: 100px;
				min-height: 100px;
				object-fit: cover;
				border-radius: 50%;
				padding: 5px;
			}
		}
	}

	.user-data {
		padding-top: 50px;

		h1 {
			font-size: 18px;
		}

		.social {
			display: inline-block;
			margin: 4px 20px;
			font-size: 1.5rem;
			color:#00FFFB;

			&__ig {
				font-size: 1.65rem;
			}
		}
	}

	.user-info {
		.bullet {
			border-radius: 5px;
			width: 120px;
			height: 57px;
			padding: 12px 12px;
			user-select: none;
			position: relative;
			justify-content: center;

			&:not(:last-of-type) {
				margin-right: 5px;
			}

			.img-wrap {
				background-color: #464748;
				width: 24px;
				height: 60%;
				margin-top: auto;
				margin-bottom: auto;
				margin-right: 10px;
			}

			.info {
				.amount {
					font-size: 16px;
				}

				.type {
					opacity: 0.6;
					font-size: 10px;
				}
			}
		}
	}

	.search-bar {
		border-radius: 10px;
		box-shadow: inset 0 1px 5px 0 rgba(3, 3, 3, 0.4);
		border: solid 1px #e5e4e4;
		background-color: #ffffff;

		.top {
			padding: 1rem;
			padding-bottom: 1rem;
			border-bottom: solid 1px #e5e4e4;
			img.userAvatar {
				width: 52px;
				height: 52px;
				object-fit: cover;
				border-radius: 50%;
				margin-right: 1rem;
			}
			#postImageInput {
				width: 100%;
			}

			input {
				width: 100%;
				background-color: #ebebeb;
				border-radius: 50px;
				border: none;
				outline: none;
				font-size: 14px;
				font-weight: 600;
				padding: 12px 36px 9px;
				transition: ease-in-out 200ms box-shadow;

				&:focus {
					transition: ease-in-out 200ms box-shadow;
					box-shadow: inset 0 1px 5px 0 rgba(3, 3, 3, 0.3);
				}

				&::placeholder {
					color: #464748ab;
				}
			}
		}

		.bottom {
			padding: 1rem;

			.bullet {
				border-radius: 50px;
				background-color: rgba(70, 71, 72, 0.1);
				padding: 6px 1rem;
				cursor: pointer;

				.img-wrap {
					width: 20px;
					height: 80%;
					margin-top: auto;
					margin-bottom: auto;
					background-color: #464748;
					margin-right: 6px;
				}

				.text {
					font-size: 14px;
					font-weight: 500;
					color: #464748;
				}

				&:not(:last-of-type) {
					margin-right: 12px;
				}
			}
		}
	}

	.featured {
		.heading {
			font-size: 20px;
		}

		.featured-bullet {
			text-align: center;
			padding: 20px 0;
			border-radius: 8px;
			cursor: pointer;
			margin-right: 10px;
			position: relative;
			overflow: hidden;

			&.hide {
				visibility: hidden;
				pointer-events: none;
			}

			> img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
				z-index: 0;
			}
			span {
				color: white;
				font-size: 16px;
				position: relative;
				z-index: 1;
			}
		}
	}

	.post-collection-toggle {
		display: flex;
		align-items: center;
		justify-content: center;

		.item {
			border-radius: 50px;
			padding: 12px 1rem;
			min-width: 150px;
			justify-content: center;
			cursor: pointer;

			&.active {
				background-color: #464748;

				.text {
					color: white;
				}

				.img-wrap {
					background-color: white;
				}
			}

			.img-wrap {
				width: 20px;
				height: 80%;
				margin-top: auto;
				margin-bottom: auto;
				background-color: #464748;
				margin-right: 6px;
			}

			.text {
				font-size: 14px;
				font-weight: 600;
				color: #464748;
			}

			&:not(:last-of-type) {
				margin-right: 12px;
			}
		}
	}

	.custom-carousel {
		.ui-carousel-dots-container {
			display: none !important;
		}

		.ui-carousel-container {
			position: relative;
		}

		.ui-carousel-prev {
			position: absolute;
			left: -4px;
			z-index: 1;
			top: 50%;
			transform: translateY(-50%);
		}

		.ui-carousel-prev,
		.ui-carousel-next {
			&.ui-state-disabled {
				opacity: 0;
			}
		}

		.ui-carousel-next {
			position: absolute;
			right: -4px;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}

.input-wrap {
	margin-bottom: 1.5rem;
	position: relative;
	width: 100%;
	img {
		position: absolute;
		top: 14px;
		left: 14px;
	}

	input {
		width: 100%;
		border-radius: 21.5px;
		box-shadow: inset 0 1px 5px 0 rgba(3, 3, 3, 0.4);
		border: solid 1px #e5e4e4;
		background-color: #ffffff;
		outline: none;
		font-size: 14px;
		font-weight: 600;
		padding: 12px 36px 9px;
		transition: ease-in-out 200ms box-shadow;

		&:focus {
			transition: ease-in-out 200ms box-shadow;
			box-shadow: inset 0 1px 5px 0 rgba(3, 3, 3, 0.7);
		}

		&::placeholder {
			color: #464748ab;
		}
	}
}

.actions {
	box-shadow: 0 1px 0 0 white;

	p {
		padding-bottom: 12px;
		font-size: 14px;
		font-weight: bold;
		color: rgba(70, 71, 72, 0.59);
		cursor: pointer;
		user-select: none;

		&.active {
			color: #464748;
			box-shadow: 0 2px 0 0 #54ddb7;
		}
	}
}

.box {
	.disable-load-more {
		user-select: none;
		cursor: default;
		pointer-events: none;
	}
}

.search-component {
	margin-top: 20px;
	padding-bottom: 1rem;
	border-radius: 10px;
	box-shadow: inset 0 1px 5px 0 rgba(3, 3, 3, 0.4);
	border: solid 1px #e5e4e4;
	background-color: #ffffff;
	padding: 8px 20px;

	.bullet-wrap {
		/* max-width: 587px;*/
	}

	h1,
	.bullet-wrap {
		padding-left: 20px;
		padding-right: 20px;
	}

	&.creators {
		.name {
			font-weight: bold !important;
			text-transform: capitalize;
		}

		&.all {
			.list {
				height: 500px;
			}
		}

		.list {
			height: calc(100vh - 120px);
			overflow-y: auto;

			&::-webkit-scrollbar-track {
				box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
				border-radius: 10px;
				background-color: #f5f5f5;
			}

			&::-webkit-scrollbar {
				width: 6px;
				background-color: #f5f5f5;
			}

			&::-webkit-scrollbar-thumb {
				border-radius: 10px;
				box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
				background-color: rgba(85, 85, 85, 0.18);
			}
		}

		.bullet-wrap {
			&:not(:last-of-type) {
				border-bottom: solid 1px #e5e4e4;
			}
		}
	}

	&.posts {
		.name {
			font-weight: bold !important;
			text-transform: capitalize;
		}

		&.all {
			.list {
				height: 500px;
			}
		}

		.list {
			height: calc(200vh - 100px);
			overflow-y: auto;

			&::-webkit-scrollbar-track {
				box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
				border-radius: 10px;
				background-color: #f5f5f5;
			}

			&::-webkit-scrollbar {
				width: 6px;
				background-color: #f5f5f5;
			}

			&::-webkit-scrollbar-thumb {
				border-radius: 10px;
				box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
				background-color: rgba(85, 85, 85, 0.18);
			}
		}

		.bullet-wrap {
			margin-top: 1rem;

			&:not(:last-of-type) {
				border-bottom: solid 1px #e5e4e4;
			}

			.row {
				flex: 1;
			}
		}

		// .content-wrap {
		//     border-radius: 5px;
		//     background-color: #ebebeb;
		//     padding: 10px;
		//     margin-bottom: 1rem;
		//     cursor: pointer;
		//     height: 120px;

		//     .feed-detail-container {
		//         justify-content: space-between;
		//         display: flex;
		//         flex-direction: column;
		//         height: 100px;
		//     }

		//     .username {
		//         img {
		//             border-radius: 50%;
		//             width: 24px;
		//             height: 24px;
		//         }

		//         .name {
		//             font-weight: bold !important;
		//             text-transform: capitalize;
		//             color: #535356;
		//         }
		//     }

		//     .category {
		//         opacity: 0.8;
		//         font-size: 14px;
		//         text-overflow: ellipsis;
		//         word-wrap: break-word !important;
		//         overflow: hidden;
		//         max-height: 5.2em;
		//         line-height: 1.8em;
		//         padding-right: 20px;
		//         word-break: break-word;

		//         a {
		//             color: #116fbf !important;
		//         }
		//     }

		//     .price {
		//         font-size: 14px;
		//         font-weight: bold;
		//     }

		//     .img-wrap {
		//         height: 102px;
		//         width: 90px;
		//         min-width: 90px;

		//         img {
		//             width: 100%;
		//             height: 100%;
		//             object-fit: cover;
		//             border-radius: 10px;
		//         }
		//     }

		//     .action-bar {
		//         flex-direction: column;
		//         justify-content: space-between;
		//         height: 100%;

		//         .action-button {
		//             display: flex;
		//             align-items: center;
		//             cursor: pointer;
		//             user-select: none;
		//             &:not(:last-of-type) {
		//                 margin-bottom: 15px;
		//             }
		//             .icon-text {
		//                 color: #464748;
		//                 font-size: 12px;
		//                 font-weight: bold;
		//                 position: relative;
		//                 top: 1px;
		//                 white-space: nowrap;
		//                 overflow: hidden;
		//                 text-overflow: ellipsis;
		//             }
		//             img {
		//                 width: 22px;
		//                 height: 22px;
		//                 margin-right: 6px;
		//                 filter: brightness(0.3);
		//                 &.liked {
		//                     filter: brightness(3.8);
		//                 }
		//             }

		//             .icon-wrap {
		//                 border-radius: 50%;
		//                 width: 26px;
		//                 height: 26px;
		//                 margin-right: 6px;
		//                 display: flex;
		//                 align-items: center;
		//                 justify-content: center;
		//                 &.liked {
		//                     border-radius: 50%;
		//                     display: block;
		//                     background-color: #54ddb7;
		//                     margin-right: 6px;

		//                     img {
		//                         width: 1rem !important;
		//                         height: 1.5rem !important;
		//                         margin-left: 3px !important;
		//                     }
		//                 }
		//             }
		//         }
		//     }
		// }
	}

	&.products {
		position: relative;

		&.all {
			.list {
				min-height: 800px;
			}
		}

		.list {
			&::-webkit-scrollbar-track {
				box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
				border-radius: 10px;
				background-color: #f5f5f5;
			}

			&::-webkit-scrollbar {
				width: 6px;
				background-color: #f5f5f5;
			}

			&::-webkit-scrollbar-thumb {
				border-radius: 10px;
				box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
				background-color: rgba(85, 85, 85, 0.18);
			}
		}

		.bullet-wrap {
			margin-top: 1rem;

			.info {
				flex: 1;
				position: relative;
			}
		}

		.content-wrap {
			max-height: 1000px;

			.info {
				max-height: 200px;
			}
			&:first-of-type {
				padding-top: 5px;
			}

			padding: 15px 10px 15px 0;
			cursor: pointer;

			&:not(:last-of-type) {
				border-bottom: 1px solid #e9e9e9;
			}

			.price {
				opacity: 0.65;
				font-size: 15px;
				line-height: 0.72;
				color: #000000;
			}

			.title {
				font-size: 16px;
				font-weight: bold;
				color: #000000;
				text-overflow: ellipsis;
				word-wrap: break-word !important;
				overflow: hidden;
				height: 2.5em;
				line-height: 1.3em;
				text-overflow: ellipsis;
			}

			.img-wrap {
				height: 800px;
				width: 100%;
				border: 1px solid #e5e4e4;
				border-radius: 10px;
				padding: 2px;
				overflow: hidden;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					border-radius: 10px;
				}
			}

			.view-btn {
				padding: 16px 30px;
				font-weight: bold;
				color: white;
				width: 100%;
				min-height: 54px;
				border-radius: 15.5px;
				background-color: black;
				bottom: 6px;
				font-size: 14px;
				display: block;
				text-align: center;
			}
			.buy-btn {
				padding: 16px 30px;
				font-weight: bold;
				color: white !important;
				width: 100%;
				height: 54px;
				border-radius: 15.5px;

				bottom: 6px;
				font-size: 14px;
				display: block;
				text-align: center;
			}
		}
	}
}

.custom-collection-view {
	h1 {
		display: none;
	}

	.collection-slider {
		box-shadow: none !important;
		border: none !important;
		max-width: 511px !important;
		background-color: transparent !important;
	}

	.circle {
		display: none;
	}
}

.load-more {
	width: fit-content;
	border-radius: 12px;
	background-color: #464748;
	font-size: 14px;
	font-weight: 600;
	color: white;
	padding: 10px 24px;
	cursor: pointer;
	outline: none;
	font-weight: normal;
	transform: translateY(-50%);

	span {
		user-select: none;
	}
}
.main-shop {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: 25px;
	width: 700px;
	height: 723px;
	background: #ffffff;
	box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
	border-radius: 16px;
	.main-image {
		position: absolute;
		width: 360px;
		height: 420px;
		left: 20px;
		top: 20px;
		border-radius: 16px;
	}
	.brand-name {
		position: absolute;
		left: 57.14%;
		right: 2.86%;
		top: 2.77%;
		bottom: 92.25%;
		font-family: 'AvenirNext';
		font-style: normal;
		font-weight: 600;
		font-size: 18px;
		line-height: 36px;
		color: #4d4d4d;
	}
	.product-detail {
		position: absolute;
		left: 57.14%;
		right: 2.86%;
		top: 8.85%;
		bottom: 79.53%;
		font-family: 'AvenirNext';
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 21px;
		color: #4d4d4d;
	}
	.product-price {
		position: absolute;
		left: 57.14%;
		right: 4.57%;
		top: 23.24%;
		bottom: 71.78%;
		font-family: 'AvenirNext';
		font-style: normal;
		font-weight: 700;
		font-size: 24px;
		line-height: 36px;
		color: #37a486;
	}
	.options-main {
		display: flex;
		align-items: flex-start;
		padding: 0px;

		position: absolute;
		width: 268px;
		height: 109px;
		left: 400px;
		top: 224px;
		flex-direction: column;

		.option-row-1 {
			top: 78px;
			order: 2;
		}
		.option-row-20px {
			top: 39px;
			order: 1;
		}
		.option-row-3 {
			top: 0px;
			order: 0;
		}

		.option-row {
			display: flex;
			flex-direction: row;
			align-items: flex-start;
			padding: 0px;
			position: static;
			width: 268px;
			height: 31px;
			left: 0px;
			flex: none;
			flex-grow: 0;
			margin: 4px 0px;

			.option-item {
				display: flex;
				justify-content: center;
				padding: 0px 8px;

				position: static;
				width: 130px;
				height: 31px;
				top: 0px;
				border: 1px solid #c4c4c4;

				border-radius: 8px;
				flex: none;
				flex-grow: 0;
				flex-direction: row;
				margin: 0px 8px;
				align-items: center;
				.option {
					bottom: 5px;
				}
			}
		}
	}

	.btn-group {
		position: absolute;
		height: 32px;
		left: 400px;
		top: 360px;
		width: 109px;

		display: flex;
		flex-direction: row;
		justify-content: space-between;

		.btn-group-block {
			padding: 0;
			border: none;
			width: 32px;
			left: 477px;
			top: 48.27%;
			bottom: 47.3%;
			background: #f6f6f6;
			border-radius: 8px;
			text-align: center;
			vertical-align: middle;
		}

		.group-text {
			padding-top: auto;
			border: none;
			width: 32px;
			left: 477px;
			top: 48.27%;
			bottom: 47.3%;
			background: #f6f6f6;
			border-radius: 8px;
			text-align: center;
			vertical-align: middle;
		}
	}

	.add-to-basket {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 8px 16px;
		position: absolute;
		width: 272px;
		left: 400px;
		top: 55%;
		bottom: 39.83%;
		background: #353536;
		border-radius: 8px;
		flex-direction: row;
		font-family: 'AvenirNext';
		font-weight: 500;
		font-size: 16px;
		line-height: 22px;
		color: #ffffff;
		font-style: normal;
		height: 38px;
	}

	.image-item {
		position: absolute;
		height: 60px;
		left: 278px;
		top: 456px;
		width: 60px;
		border-radius: 8px;
	}

	.image-group-left {
		position: absolute;
		width: 32px;
		height: 32px;
		left: 20px;
		top: 470px;
		border-radius: 25px;
		background: #ffffff;
		border-color: white;
		filter: drop-shadow(0px 2px 20px rgba(0, 0, 0, 0.5));
		border: none;
	}

	.image-group-right {
		border: none;
		position: absolute;
		width: 32px;
		height: 32px;
		left: 350px;
		top: 470px;
		border-radius: 25px;
		background: #ffffff;
		border-color: white;
		filter: drop-shadow(0px 2px 20px rgba(0, 0, 0, 0.5));
	}

	.describe-text {
		position: absolute;
		right: 83.29%;
		top: 75.8%;
		bottom: 19.23%;
		font-family: 'AvenirNext';
		font-style: normal;
		font-weight: 600;
		font-size: 18px;
		line-height: 36px;
		color: #4d4d4d;
		left: 2.86%;
	}

	.describtion-text {
		position: absolute;
		left: 2.86%;
		right: 2.86%;
		top: 81.88%;
		bottom: 9.41%;

		font-family: 'AvenirNext';
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 21px;
		color: #4d4d4d;
	}
}

.my-cart-container {
	position: relative;
	width: 324px;
	min-height: 178px;
	height: auto;
	top: 25px;
	box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
	border-radius: 16px;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	background: #ffffff;
	border: 1px solid;

	.mycart {
		height: 32px;
		left: 16px;
		top: 12px;
		font-family: 'AvenirNext';
		font-style: normal;
		font-weight: 600;
		font-size: 18px;
		line-height: 32px;
		letter-spacing: 0.5px;
		color: #353536;
		width: 100px;
	}

	.cart-total-cost {
		height: 39px;
		left: 156px;
		top: 8px;
		width: 200px;

		text-align: center;
		vertical-align: middle;
		p {
			margin: auto 0;
			display: inline-block;
			vertical-align: middle;
		}
	}

	.cart-items {
		margin: 20px auto;
		width: 100%;
		min-height: 66px;
		left: 0px;
		top: 89px;
		height: auto;
		display: flex;
		flex-direction: column;
	}

	.check-out-button {
		display: inline-block;
		margin-top: 10px;
		margin-left: calc(50% - 97px / 2 + 118.5px);
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding: 6px 20px;

		width: 97px;
		height: 30px;
		//left: calc(50% - 97px/2 + 97.5px);
		margin-bottom: 10px;
		background: #353536;
		border-radius: 30px;
		p {
			position: static;
			width: 57px;
			height: 16px;
			left: 20px;
			top: 6px;

			font-family: 'AvenirNext';
			font-style: normal;
			font-weight: 600;
			font-size: 12px;
			line-height: 16px;

			/* White */

			color: #ffffff;

			/* Inside auto layout */

			flex: none;
			order: 0;
			flex-grow: 0;
			margin: 0px 5px;
		}
	}
}

.profile-address {
	border: 1px solid;
	border-color: gray;
	border-radius: 25px;
	width: 200px;
	height: 40px;
	padding: 2px;
	overflow: hidden;

	display: flex;
	flex-direction: row;
	padding: auto 0;
	justify-content: center;
	align-items: center;
	p {
		padding-top: 14px;
		font-family: 'AvenirNext';
		font-style: normal;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	img {
		height: 80%;
		width: 30px;
	}
}
