
* {
    box-sizing: border-box;
    font-family: "AvenirNext";
    font-style: normal;
}

:root {
	--bg-dark: #141414;
	--bg-purple: #25BB92;
}

.bg-main-dark {
	background-color: var(--bg-dark) !important;
}

.bg-main-purple {
	background-color: var(--bg-purple) !important;
}
