.merch-page-container {
  width: 100%;
  padding: 0px 80px;
  display: flex;
  flex-direction: column;
  height: auto;

  & .merch-page-wrapper {
    max-width: 800px;
    width: 100%;
    flex-wrap: wrap;
    margin: auto;

    & .merch-description-wrapper{
      margin-top: 40px;
      width: 100%;

      & .merch-description{
        font-weight: 500;
        font-size: 18px;
        color: #b3b3b3;
        white-space: pre-line;
      }
      & .merch-limite-description{
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      & .merch-readmore-button{
        color:#fff;
        font-size: 16px;
        width:100%;
        text-align: center;
        margin-top: 5px;
      }
    }
  }

  & .detail-side {
    padding-left: 20px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & .merch-brandname{
      color:#fff;
      font-size: 26px;
      font-weight: 600;
      cursor: pointer;
    }

    & .merch-title {
      color: #B3B3B3;
      font-weight: 600;
      font-size: 22px;
    }

    & .merch-price {
      font-weight: 700;
      font-size: 24px;
      color: #ffffff;
    }

    & .merch-options-wrap {
      display: flex;
      justify-content: space-between;
      width: 100%;
      flex-wrap: wrap;

      & .opt {
        width: 48%;
        margin-bottom: 8px;
      }
    }

    & .calc-btn-wrap {
      display: flex;

      & .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 35px;
        background: #353536;
        border-radius: 8px;
        color: #b3b3b3;
        margin-right: 8px;
        padding: 0px;

        img {
          width: 20px;
          height: 20px;
        }
      }
      & .show {
        margin-right: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 35px;
        border-radius: 8px;
        color: white;
        font-size: 20px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .merch-page-container {
    width: 100%;
    padding: 0px 20px;
    display: flex;
    justify-content: center;

    & .merch-page-wrapper {
      max-width: 400px;
      width: 100%;
      
    & .merch-description-wrapper{
      margin-top: 20px;
      padding-right: 20px;
      overflow: hidden;
      & .merch-description{
        font-weight: 500;
        font-size: 18px;
        color: #b3b3b3;
       
      }
      & .merch-limite-description{
        -webkit-line-clamp: 4;
      }
    }
    }

    & .detail-side {
      margin-top: 40px;
      height: 320px;
      padding-left: 0px;
      padding-bottom: 0px;

      & .merch-title {
        font-size: 20px;
      }
      & .merch-price {
        font-size: 22px;
      }

      & .calc-btn-wrap {
        display: flex;

        & .btn {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 35px;
          height: 35px;
          background: #353536;
          border-radius: 8px;
          color: #b3b3b3;
          margin-right: 8px;
          padding: 0px;

          img {
            width: 20px;
            height: 20px;
          }
        }
        & .show {
          margin-right: 8px;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 35px;
          height: 35px;
          border-radius: 8px;
          color: white;
          font-size: 20px;
        }
      }
    }
  }
}
