* {
  box-sizing: border-box;
}

.header-wrapp {
  width: 100vw;
  padding: 0px 80px;
  background-color: #222222;

  & .header-body {
    width: 100%;
    padding: 8px 0px;

    a {
      margin: auto 0px;
      .header-brand {
        font-family: "AvenirNext";
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        color: #fff;
        text-align: center;
      }
    }

    & .header-item-btn-component-wraper {
      margin: auto 0px auto 12px;
      display: flex;
      justify-content: center;
      padding: 12px 0px;
      width: 130px;
      cursor: pointer;
      color: #fff;
      font-family: "AvenirNext";
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      border-radius: 8px;
      background-color: #353536;
    }

    & .login-wrapper {
      margin-left: 12px;
      .header-profile {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border: 3px solid white;
        border-radius: 25px;
        color: #fff;
        font-family: "AvenirNext";
        font-style: normal;
        font-weight: 600;
        font-size: 26px;
      }

      .header-nav {
        box-sizing: border-box;
        background-color: #222;
        position: absolute;
        top: 90px;
        width: auto;
        height: auto;
        width:200px;
        border:1px solid white;
        right:10px;
        z-index:90;

        .header-nav-item {
          padding: 10px 0px;
          text-align: center;
          color: #fff;
          font-family: "AvenirNext";
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          border-bottom: 1px solid white;
          cursor: pointer;

          &:hover{
            background-color: #333;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .header-wrapp {
    padding: 0px 20px;
    & .header-body {
      .header-brand {
        font-weight: 600;
        font-size: 28px;
      }
      & .header-item-btn-component-wraper {
        padding: 12px 0px 9px 0px;
        height: auto;
        align-items: center;
        width: 70px;
        font-size: 12px;
        border-radius: 8px;
      }
      & .login-wrapper {
        .header-profile {
          width: 40px;
          height: 40px;
          border: 3px solid white;
          font-size: 20px;
        }
        .header-nav {
         
          top: 70px;
          .header-nav-item {
            padding: 10px 0px;
            font-size: 16px;
          }
        }
      }
    }
  }
}

//       & .fill-wallet {
//         filter: brightness(100) invert(30%) sepia(50%)
//           saturate(8100%) hue-rotate(220deg) contrast(1200%);
//       }
