* {
  box-sizing: border-box;
  font-family: "AvenirNext";
}

.buy-product-wraper{
  border:1px solid white;
  width: 100%;
  height: 850px;
  margin-right: 12px
}
.product-bakset-wraper{
  border:1px solid white;
  width: 100%;
  height: 250px;
  margin-left: 12px
}

@media only screen and (max-width: 768px) {
   
}



