.product-small-wrapper{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 900px;
  padding-right: 80px;
  padding-left: 80px;
}

@media only screen and (max-width: 768px) {
  .product-small-wrapper{
    padding-right: 0px;
    padding-left: 0px;
  }
}

.Lproduct-component-wrapper {
    margin: 0px 0px 0px 0px;
    width: 100%;
    padding: 0px;
    padding: 5px;
    margin-bottom: 10px;
  
    & .product-image-st {
      width: 100%;
      height: auto;
      overflow: hidden;
      border-radius: 12px;
      cursor: pointer;
      position: relative;
      padding: 0px;
      margin: 0px;
  
      & .product-sve-btn {
        position: absolute;
        width: 20%;
        height: 20%;
        z-index: 10;
        right: 8px;
        top: 8px;
      }
  
      & .main-image {
        width: 100%;
        height: 100%;
  
        &:hover {
          opacity: 0.6;
          transform: scale(1.2);
          transition: all 2s ease-out ;
        }
      }
  
      & .product-view-button {
        z-index: 10;
        position: absolute;
        background-color: #353536;
        border-radius: 30px;
        bottom: 8px;
        left: 8px;
        padding: 10px 20px;
        display: flex;
        justify-content: center;
  
        p {
          margin: auto 0px;
          font-family: "AvenirNext";
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          color: #ffffff;
        }
      }
    }
  
    .product-img-opacity {
      z-index: 8;
      opacity: 0.5;
    }
    .brand-name {
      // border:1px solid rgb(30, 255, 0);
      //height: auto;
      //max-width: 100%;
      font-family: "AvenirNext";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: #ffffff;
      margin-top: 12px;
      overflow: hidden;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2; /* number of lines to show */
      line-clamp: 2;
      -webkit-box-orient: vertical;
    }
    .priceS {
      // border:1px solid rgb(211, 95, 247);
      font-family: "AvenirNext";
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 21px;
      display: flex;
      align-items: center;
      color: #b3b3b3;
      margin-top: 5px;
      // height: auto;
    }
  }
  @media only screen and (max-width: 768px) {
    .Lproduct-component-wrapper {
      & .product-image-st {
        & .product-sve-btn {
          position: absolute;
          width: 20%;
          height: 20%;
          z-index: 10;
          right: 8px;
          top: 8px;
        }
  
        & .product-view-button {
          p {
            font-size: 10px;
          }
        }
      }
  
      .brand-name {
        font-size: 14px;
      }
    }
  }
  