* {
  box-sizing: border-box;
}
.products-wrap {
  width: 100%;
  //max-width: 800px;
}


.colection-title {
  font-family: "AvenirNext";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #ffffff;
}

.product-counter {
  font-family: "AvenirNext";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #b3b3b3;
  margin-top: 16px;
}
.wrap {
  width: 100%;
  padding: 0px 25px 20px 25px;
  border: 1px solid #b3b3b3;
  box-sizing: border-box;
  border-radius: 16px;
  margin-top: 24px;
}

.products-wrapper {
  min-width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: start;
}

.product {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 240px;
}

.product-img {
  width: 100%;
  max-width: 187px;
  max-height: 187px;
}



@media only screen and (max-width: 768px) {
  .gr {
    padding: 0px 12px;
    width:100%;
    margin:0px 15px;
  }
  .wrap {
    padding:0px 16px;
    padding-bottom: 28px;
  }
  .titles {
    font-size: 24px;
    line-height: 33px;
  }

  .product-counter {
    font-size: 12px;
  }
  .product-wrap{
    margin-top: 24px;
  }
}
